root_node = "en"

[nodes.en]
text = """
en is a tool to write non-linear, connected pieces of text and have their references mapped out as a graph of connected information.

It works by ingesting a TOML file containing your node specification and serving it as a website that allows nodes to be browsed, searched and listed in relation to each other or as a shallow tree of nodes.
"""

links = [ "Graph", "TOML" ]

[nodes.Graph]
text = """
A graph is a data structure composed of connected (and disconnected) nodes.

A familiar example is that of a social network. Each account can be thought of as a node and the "follow" and "follower" relationships can be thought of as edges (connections). A node may have many or few connections, and the nodes it is connected to are meaningful to understand how it fits into the whole.

en uses this concept to create a writing tool, allowing you to map out complex thoughts as a web connected texts.
"""

[nodes.TOML]
text = """
TOML is a configuration format that can be easily read and understood by humans and machines alike.

To learn more about TOML, you can visit its website at <toml.io>.

To see the TOML declaration that translates into the rendered graph you are reading right now, visit the "TOML Graph" link on the top navigation bar.
"""
