root_node = "Interface"

[nodes.Interface]
text = """
An interface is a point of contact between the inside and the outside of something. Contrast with intraface.
"""

links = ["Intraface"]

[nodes.Intraface]
text = """
The intraface is the reflexive process of communicating, creating, thinking, that does not or cannot get shared with others. Contrast with interface.
"""

links = ["Thinking", "Interface"]

[nodes.Thinking]
text = """
Thinking is a process by which some beings create and manipulate mental constructs.
"""

[nodes.Paradigm]
text = """
A paradigm is a cohesive set of beliefs, methods and principles that serve both as justification for a given position and as guidance for how to pursue its praxis.
"""

links = [ "Principle", "Belief", "Method", "Position", "Praxis" ]

[nodes.Principle]
text = """
A principle is a belief that implies commitment and necessity.

Principles change, but to change one's principles too constantly defeats its purpose.

A principle is usually informed by experience or formed by cultural context, namely religion.

As other beliefs, simply identifying with a principle does not mean one follows it, which can introduce a sense of dissonance and/or guilt.
"""

links = [ "Dissonance", "Guilt", "Belief", "Religion", ]

[[nodes.Principle.connections]]
anchor = "identifying"
to = "Identity"

[nodes.Religion]
text = """
A religion is a paradigm that involves unfalsifiable beliefs, particularly those in the domain of morality.

A reductive critique of religion dismisses it based on its dogmatic adherence to certain beliefs usually rooted in tradition.

As a counterpoint, consider that the fact religion carries false beliefs does not imply all of the beliefs that religion carries are false, which is an assertion that holds for any other entity. The beliefs that compose the episteme of a religion may include both falsifiable and unfalsifiable beliefs. In this sense, it does not differ from any other paradigm.

Religion does not subsist solely because of its hard truths, but because it caters to various other basic human necessities: community, identity, knowledge regarding how to conduct one's life. This gives religion enormous presence in society and allows it to act as a strong political force against societal changes that contradict its positions.

One poignant fact about religion is that its dogmas tend to create exclusion, segregating those who can or want to adhere to them from those who can't or don't want to. This not only means religion will create divisions, it also means that the people excluded from it will be left with less means to fulfill the previously mentioned basic human necessities that religion addresses.
"""

links = [
    "Paradigm",
    "Principle",
    "Truth",
    "Tradition",
    "Morality",
    "Episteme",
    "Necessity",
    "Knowledge",
    "Community",
    "Identity",
    "Dogma",
    "Reductionism",
]

[nodes.Identity]
text = """
Identity is how individuals construe their sameness and otherness from each other and from nothingness.
"""

links = ["Principle"]

[[nodes.Identity.connections]]
anchor = "nothingness"
to = "Emptiness"

[nodes.Emptiness]
text = """
Emptiness is the vacuous base in which entities exist.
"""

links = [ "Entity" ]

[nodes.Entity]
text = """
An entity is anything except for actual emptiness. It does not have to be sentient, or physical. It can be an idea, a concept, a memory. The concept of emptiness is an entity, but emptiness itself is not.
"""

links = [ "Emptiness" ]
