:root {
    --base-font-size: 1em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: sans-serif;
    font-size: var(--base-font-size);
    line-height: 1.5;
}

main {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1040px;
    min-width: 600px;
    box-sizing: border-box;
}

pre {
    max-width: 95%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;

}

code {
    padding: 3px 6px;
    border-radius: 6px;
    margin-right: 2px;
    white-space: nowrap;
}

pre, code {
    background-color: #e0e0e0;
    border: solid 1px #d0d0d0;
}

a {
    color: #0f6366;
    text-decoration: underline dotted #138e8e;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
}

a.detached {
    color: #595959;
    text-decoration-color: #444444;
}

a.external {
    color: #1958a7;
    text-decoration-color: #2A7CDF;
    text-decoration-style: solid;
}

a:visited, a.detached:visited, a.external:visited {
    text-decoration-color: #999;
}

footer div a {
    text-decoration: none;
}

div.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.labels {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

span.label {
    padding: 3px 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: calc(var(--base-font-size) * 0.7);
}

span.root-label {
    color: #fff;
    font-weight: bolder;
    background-color: #106363;
    border: outset 1px #ffffff;
    box-shadow: 2px 2px #00ffff;
}


span.id-label {
    background-color: #e0e0e0;
    border: solid 1px #d0d0d0;
}

span.hidden-label  {
    background-color: #888;
    color: #eee;
    border: solid 1px #d0d0d0;
}


h1, h2, h3 {
    font-weight: lighter;
    margin: 20px 0 12px;
}

h1.node-title {
    display: inline;
}

h3 {
    font-size: calc(var(--base-font-size) * 1.2);
}

footer div {
    margin: 20px 0;
    text-align: center;
    font-size: calc(var(--base-font-size) * 0.8);
}

footer p {
    margin: 0;
}

span.detached-connection {
    filter: opacity(60%);
}

div.connections-container {
    margin-bottom: 20px;
}

hr.connections {
    margin-top: 60px;
}

nav#nav-main a {
    text-decoration: none;
}

nav#nav-main {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#nav-main-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

nav#nav-main ul {
    display: inline;
    padding-left: 10px;
    margin: 0;
}

nav#nav-main li {
    margin-right: 10px;
    display: inline;
}

.nav-inputs {
    margin-right: 10px;
}

.nav-inputs div {
    display: flex;
    align-items: right;
}

form.node-selector, form.navbar-search {
    display: inline;
}

.node-selector select {
    width: 100px;
}

.navbar-search input[type="text"] {
    width: 100px;
}

div#error-poem {
    text-align: right;
    margin-top: 8em;
    margin-right: 2em;
    font-size: 0.8em;
font-size: calc(var(--base-font-size) * 0.8);
}

em, i {
    font-style: oblique 20deg;
    font-weight: 300;
    padding-right: 2px;
}

em#index-node-count {
    font-size: calc(var(--base-font-size) * 0.8);
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 0.5px dotted #666;
}

td, th {
    padding: 10px;
    border: 0.5px dotted #666;
}

summary {
    margin-bottom: 15px;
}

hr {
    border: 1px dashed #555;
}

@media (prefers-color-scheme: dark) {
    * {
        background-color: #222222;
        color: #f1e9e5;
    }

    pre, code {
        background-color: #333333;
        border: solid 1px #434343;
    }

    a {
        color: #1dd7d7;
        text-decoration-color: #159b9b;
    }

    a.external {
        color: #2fbae4;
        text-decoration-color: #46c1e7;
    }

    a.detached {
        color: #acacac;
        text-decoration-color: #777;
    }

    span.id-label {
        background-color: #444;
        border-color: #666;
    }

    span.hidden-label  {
        background-color: #000;
        border-color: #555;
        color: #969696;
    }
}

@media (max-width: 600px) {
    nav li {
        margin-right: 3px;
    }

    div.header-row {
        display: block;
    }

    #nav-main-spread {
        display: inline;
        margin: 0;
    }

    .nav-inputs {
        margin-right: 0px;
    }

    div.nav-inputs {
        margin-top: 10px;
    }

    main {
        width: 95vw;
        padding: 0 2.5vw;
        min-width: unset;
    }

    ul {
        padding-left: 20px;
    }

    pre {
        max-width: 100%;
        margin: 15px 5px;
    }
}

@media (min-width: 601px) {

    div.connections-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) and (max-width: 2100px) {
    main {
        width: 800px;
        margin: 0 auto;
    }
}

@media (min-width: 2100px) {
    :root {
        --base-font-size: 1vw;
    }

    main {
        max-width: 40%;
    }

    .nav-inputs :is(input, select, button) {
        height: calc(var(--base-font-size) * 1.6);
        font-size: calc(var(--base-font-size) * 0.8);
        padding: 0 calc(var(--base-font-size) * 0.3);;
    }

    .nav-inputs input[type="text"], .nav-inputs select {
        min-width: calc(var(--base-font-size) * 5);
    }
}
