* {
  line-height: 1.6em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer div {
  margin: 20px 0;
  text-align: center;
  font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    * {
        background-color: #222222;
        color: #f1e9e5;
    }
}
