{% extends "base.html" %}

{% block title %}About{% endblock title %}

{%- block body %}
<h1>About</h1>

{% if graph.meta.config.about_text %}
{{ graph.meta.config.about_text | safe }}
{% else %}
<p>en is a writing instrument to create a connected collection of texts.</p>

<p>You define your graph using plain-text files, en reads these files and generates a website like the one you are browsing right now.</p>

<p>If you'd like to learn more:</p>

<ul>
    <li><a href="https://en.jutty.dev/node/Introduction">More about en</a></li>
    <li><a href="https://en.jutty.dev/node/GetStarted">Get Started</a></li>
    <li><a href="https://en.jutty.dev">Documentation</a></li>
    <li><a href="https://codeberg.org/jutty/en">Code repository</a></li>
</ul>
{% endif %}

{%- endblock body %}
