{% extends "base.html" %}

{% block title %}About{% endblock title %}

{%- block body %}
<h1>About</h1>

<p>en is a program to create a connected collection of texts.</p>

<p>You define your graph using a plain-text configuration file and then en reads this file and generates a webpage like the one you are seeing right now.</p>

<p>If you'd like to learn more:</p>

<ul>
    <li><a href="https://en.jutty.dev">Website</a></li>
    <li><a href="https://en.jutty.dev/docs">Documentation</a></li>
    <li><a href="https://codeberg.org/jutty/en">Source code repository</a></li>
</ul>

{%- endblock body %}
