{% extends "base.html" %}

{% block title %}Acknowledgments{% endblock title %}

{%- block body %}
<h1>Acknowledgments</h1>

<p>en is only possible thanks to a number of projects and people:</p>

<ul>
    <li><a href="https://rust-lang.org/">The Rust Programing Language</a></li>
    <li><a href="https://tokio.rs/">Tokio</a> and
        <a href="https://github.com/tokio-rs/axum">Axum</a></li>
    <li><a href="https://keats.github.io/tera/">Tera</a></li>
    <li><a href="https://serde.rs/">Serde</a> and the
        <a href="https://github.com/toml-rs/toml">toml crate</a></li>
    <li><a href="https://dystroy.org/bacon/config/">Bacon</a></li>
</ul>

{%- endblock body %}
