{% extends "base.html" %}
{% set config = graph.meta.config %}

{% block title %}Data{% endblock title %}

{%- block body %}
<h1>Data</h1>

<h2>Metadata</h2>

<table>
    <tr>
        <td>
            <a href="#detached-edges">Detached edges</a>
        </td>
        <td>
            <a href="#detached-edges:~:text=Anchors">{{ detached_count }}</a>
        </td>
    </tr>
</table>

<h3 id="detached-edges">Detached edges</h3>

<details>
<summary>Expand to see all detached edges.</summary>
    <table>
        <th>Destination</th><th>Anchors</th>
    {% for pair in detached_pairs %}
    <tr><td>{{ pair.0 }}</td><td>{{ pair.1 }}</td></tr>
    {% endfor %}
    </table>
</details>

{% if config.raw_toml or config.raw_json %}
<h2>Raw formats</h2>
<p>The raw data used to render this graph is available in the following formats:</p>

<ul>
    {% if config.raw_toml %}
    <li><a href="/graph/toml">TOML</a></li>
    {% endif %}
    {% if config.raw_json %}
    <li><a href="/graph/json">JSON</a></li>
    {% endif %}
</ul>
{% endif %}
{%- endblock body %}
