{% extends "base.html" %}

{% block title %}Data{% endblock title %}

{%- block body %}
<h1>Data</h1>
<h2>Graph insights</h2>

<table>
    <tr>
        <td>
            <a href="#detached-connections">Detached connections</a>
        </td>
        <td>
            <a href="#detached-connections:~:text=Anchors">{{ detached_count }}</a>
        </td>
    </tr>
</table>

<h3 id="detached-connections">Detached connections</h3>
<p>These are the destinations to which connections exist, but the target node doesn't.</p>

<details>
<summary>Expand to see all detached edges.</summary>
    <table>
        <th>Destination</th><th>Anchors</th>
    {% for pair in detached_pairs %}
    <tr><td>{{ pair.0 }}</td><td>{{ pair.1 }}</td></tr>
    {% endfor %}
    </table>
</details>

<h2>Metadata</h2>
<p>
    This graph was rendered using en <code>{{ en_version }}</code>
    (<a
        href="https://codeberg.org/jutty/en/releases/tag/v{{ en_version }}"
    >release notes</a>).
</p>

{% if graph.meta.config.raw
    and (graph.meta.config.raw_toml
    or graph.meta.config.raw_json)
%}
<p>Structured data for this graph is available in the following formats:</p>

<ul>
    {% if graph.meta.config.raw_toml %}
    <li><a href="/graph/toml">TOML</a></li>
    {% endif %}
    {% if graph.meta.config.raw_json %}
    <li><a href="/graph/json">JSON</a></li>
    {% endif %}
</ul>
{% endif %}

{%- endblock body %}
