{% extends "base.html" %}

{%- block body %}
    <h1>
        {{ title | default(value="Unknown error") }}
    </h1>
    {{ message | default(value="This error has not been described in detail.") | linebreaksbr | safe }}
    <hr>
    <div align=right style="margin-top: 8em; margin-right: 2em">
    <em style="font-size: 0.8em;">
        fallen<br/>
        out of the circle<br/>
        you are welcome to climb<br/>
        back onto the {% if config.tree %}<a href="/tree">tree</a>{% else %}tree{% endif %}
    </em>
    </div>
    </p>
{%- endblock body %}
