{% extends "base.html" %}

{%- block body %}
    <h1>
        {{ title | default(value="Unknown error") }}
    </h1>
    {{ message | default(value="Unexpected error") | linebreaksbr | safe }}
    {% if config.error_poem %}
    <hr>
    <div id="error-poem">
    <em>
        fallen<br/>
        out of the circle<br/>
        you are welcome to climb<br/>
        back onto the {% if config.tree %}<a href="/tree">tree</a>{% else %}tree{% endif %}
    </em>
    </div>
    {% endif %}
{%- endblock body %}
