{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{%- block body %}
    <h1>{%if config.site_title %}{{ config.site_title }}{% else %}en{%endif%}</h1>
    <p>
    <em>
        {% if config.site_description %}
        {{config.site_description}}
        {% else %}
        A non-linear writing instrument.
        {% endif %}
    </em>
    {% if nodes %}
    {% if config.index_search %}
    <form method="post">
        <label for="node">Find by ID:</label>
        <input type="text" name="node" required/>
        <input type="submit" value="Submit"/>
    </form>
    {% endif %}
    {% if config.index_node_list %}
    <hr>
    <h2>Nodes</h2>
    <nav>
        {% if root_node %}
        <p>
            <strong>Root</strong>:
            <a href="/node/{{root_node.id}}">{{root_node.title}}</a>
        </p>
        {% endif %}
        {% if nodes %}
        <ul>
        {% for node in nodes %}
        {% if node.id != root_node.id %}
        <li><a href="/node/{{node.id}}">{{node.title}}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% else %}
    <hr>
    {% include "empty.html" %}
    {% endif %}
{%- endblock body %}
