{% if graph.meta.config.node_selector or graph.meta.config.navbar_search %}
<div class="nav-inputs">
    {% if graph.nodes and graph.meta.config.node_selector %}
    <form class="node-selector" action="/redirect">
    <select class="node-selector" name="node">
      <option value="">Nodes</option>
      {% for _, node in graph.nodes %}
      {% if not node.listed or node.redirect %}{% continue %}{% endif %}
      {% if node.listed and not node.redirect %}
      <option value="{{node.id}}">{{node.title}}</option>
      {% endif %}
      {% endfor %}
      </select>
      <button type="submit">Go</button>
    </form>
    {% endif %}
    {% if graph.meta.config.navbar_search %}
    <form class="navbar-search" action="/search">
        <input type="text" name="node" required/>
        <input type="submit" value="Find"/>
    </form>
    {% endif %}
</div>
{% endif %}
